<header>
  <div>
  <section>
    <h1>
      Have the students of the 2020 class been working on their project?
    </h1>
    <p>Here's an overview of the Progressive Web Apps course and the commits the students have pushed to their repository</p>
  </section>
  </div>
</header>
