.forker-overview {
	padding: 40px 20px 60px;
	&--card {
		position: relative;
		padding-bottom: 20px;

		&--commits-container {
			position: relative;

			&.hide {
				display: none;
			}

			&.show {
				display: block;
			}

		}

		&:last-child {
			padding-bottom: 0;
		}

		header {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-bottom: 10px;
			padding: 0 10px 0;
			border-radius: 4px;
			background: var(--primary-color);

			h2,span {
				display: inline-block;
				color: var(--white-color)
			}

			h2 {
				justify-self: start;
			}

      img {
        height: 50%;
        justify-self: end;
        align-self: center;
      }

			div {
				align-self: center;
				justify-self: end;

				span {
					vertical-align: middle;
				}

				.icon {
					width: 20px;
					height: 20px;
					margin-left: 10px;
					background: red;
				}

			}

		}

		section {
			position: relative;
			padding: 0 10px 20px;
			border-left: 4px solid var(--primary-color);

			h3 {
				margin: 0;
			}

			> div {
				border-bottom: 1px solid var(--grey-medium);

				a {
					display: block;
					padding: 15px 0 15px;

					text-decoration: none;
					color: var(--primary-color);

					&:hover {
						text-decoration: underline;
					}
				}

				p {
					margin: 0;
				}

			}

			&:before {
				position: absolute;
				top: 0;
				left: -8px;
				display: block;
				content: '';
				width: 10px;
				height: 10px;
				background: var(--white-color);
				border-radius: 50%;
				border: 1px solid var(--primary-color);
			}

		}

	}
}
