<%- include(`${BASEPARTIALPATH}/head`) %>
<%- include(`${BASEPARTIALPATH}/header`) %>

<main>
  <h1>hey detail</h1>
</main>

<%- include(`${BASEPARTIALPATH}/footer`) %>
<%- include(`${BASEPARTIALPATH}/foot`) %>
